//-----------------------------------------
//FONT FAMILY
$font-bold: "IBMPlexSansBold", Arial, Sans-Serif;
$font-semibold: "IBMPlexSansSemiBold", Arial, sans-serif;
$font-thin: "IBMPlexSansThin", Arial, sans-serif;
$font-regular: "IBMPlexSansRegular", Arial, Sans-Serif;
$font-light: "IBMPlexSansLight", Arial, sans-serif;

$brand-01: #252525;
$brand-02: #767676;
$brand-03: #DCDCDC;

$ui-01: #FFFFFF;
$ui-02: #F3F3F3;
// $ui-03: #F3F3F3;
$ui-04: #DCDCDC;
// $ui-05: #6E32C9;
$text-01: #FFFFFF;
$text-02: #767676;

$bg-table-1:#595959;
$bg-table-2:#737373;
$bg-table-3:#808080;
$bg-table-4:#a6a6a6;
$bg-table-5:#cccccc;
$bg-table-6:#e6e6e6;