@font-face {
    font-family: 'IBMPlexSansRegular';
    src: url('../fonts/IBMPlexSans/IBMPlexSans-Regular.eot');
    src: url('../fonts/IBMPlexSans/IBMPlexSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/IBMPlexSans/IBMPlexSans-Regular.woff2') format('woff2'),
         url('../fonts/IBMPlexSans/IBMPlexSans-Regular.woff') format('woff'),
         url('../fonts/IBMPlexSans/IBMPlexSans-Regular.ttf') format('truetype'),
         url('../fonts/IBMPlexSans/IBMPlexSans-Regular.svg#IBMPlexSans-Regular') format('svg');
}

@font-face {
    font-family: 'IBMPlexSansBold';
    src: url('../fonts/IBMPlexSansBold/IBMPlexSans-Bold.eot');
    src: url('../fonts/IBMPlexSansBold/IBMPlexSans-Bold.eot') format('embedded-opentype'),
         url('../fonts/IBMPlexSansBold/IBMPlexSans-Bold.woff2') format('woff2'),
         url('../fonts/IBMPlexSansBold/IBMPlexSans-Bold.woff') format('woff'),
         url('../fonts/IBMPlexSansBold/IBMPlexSans-Bold.ttf') format('truetype'),
         url('../fonts/IBMPlexSansBold/IBMPlexSans-Bold.svg#IBMPlexSans-Bold') format('svg');
}

@font-face {
    font-family: 'IBMPlexSansThin';
    src: url('../fonts/IBMPlexSansThin/IBMPlexSans-Thin.eot');
    src: url('../fonts/IBMPlexSansThin/IBMPlexSans-Thin.eot') format('embedded-opentype'),
         url('../fonts/IBMPlexSansThin/IBMPlexSans-Thin.woff2') format('woff2'),
         url('../fonts/IBMPlexSansThin/IBMPlexSans-Thin.woff') format('woff'),
         url('../fonts/IBMPlexSansThin/IBMPlexSans-Thin.ttf') format('truetype'),
         url('../fonts/IBMPlexSansThin/IBMPlexSans-Thin.svg#IBMPlexSans-Thin') format('svg');
}

@font-face {
    font-family: 'IBMPlexSansSemiBold';
    src: url('../fonts/IBMPlexSansSemiBold/IBMPlexSans-SemiBold.eot');
    src: url('../fonts/IBMPlexSansSemiBold/IBMPlexSans-SemiBold.eot') format('embedded-opentype'),
         url('../fonts/IBMPlexSansSemiBold/IBMPlexSans-SemiBold.woff2') format('woff2'),
         url('../fonts/IBMPlexSansSemiBold/IBMPlexSans-SemiBold.woff') format('woff'),
         url('../fonts/IBMPlexSansSemiBold/IBMPlexSans-SemiBold.ttf') format('truetype'),
         url('../fonts/IBMPlexSansSemiBold/IBMPlexSans-SemiBold.svg#IBMPlexSans-SemiBold') format('svg');
}
@font-face {
    font-family: 'IBMPlexSansLight';
    src: url('../fonts/IBMPlexSansLight/IBMPlexSans-light.eot');
    src: url('../fonts/IBMPlexSansLight/IBMPlexSans-light.eot') format('embedded-opentype'),
         url('../fonts/IBMPlexSansLight/IBMPlexSans-light.woff2') format('woff2'),
         url('../fonts/IBMPlexSansLight/IBMPlexSans-light.woff') format('woff'),
         url('../fonts/IBMPlexSansLight/IBMPlexSans-light.ttf') format('truetype'),
         url('../fonts/IBMPlexSansLight/IBMPlexSans-light.svg#IBMPlexSans-light') format('svg');
}

@font-face {
    font-family: 'IBMPlexSansExtraLight';
    src: url('../fonts/IBMPlexSansExtraLight/IBMPlexSans-extralight.eot');
    src: url('../fonts/IBMPlexSansExtraLight/IBMPlexSans-extralight.eot') format('embedded-opentype'),
         url('../fonts/IBMPlexSansExtraLight/IBMPlexSans-extralight.woff2') format('woff2'),
         url('../fonts/IBMPlexSansExtraLight/IBMPlexSans-extralight.woff') format('woff'),
         url('../fonts/IBMPlexSansExtraLight/IBMPlexSans-extralight.ttf') format('truetype'),
         url('../fonts/IBMPlexSansExtraLight/IBMPlexSans-extralight.svg#IBMPlexSans-extralight') format('svg');
}